<div ng-controller="InstallationController">
	<h4>General Information</h4>
	<p><strong>Server IP:</strong> <%=installation.dbase%></p>
	<p><strong>Engine Server:</strong> <%=installation.engine%></p>
	<p><strong>Connection String:</strong> <%=installation.connectionString%></p>

	<h4>Processing Health</h4>
	<div class="text-center">
		<img src="/img/loading.gif" ng-show="isLoading" />
	</div>
	<div class="item-group">
		<div class="alert alert-danger clearfix" ng-show="somethingWrong">
			<span class="glyphicon glyphicon-remove-circle"></span>
			Something went wrong during the request.
			<span class="pull-right">
				<button class="btn btn-sm" ng-click="requestStats()">
					<span class="glyphicon glyphicon-repeat"></span>
				</button>
			</span>
		</div>
		<div class="alert alert-danger clearfix" ng-show="refreshError">
			<span class="glyphicon glyphicon-remove-circle"></span>
			Something went wrong refresing the information.
			<span class="pull-right">
				<button class="btn btn-sm">
					<span class="glyphicon glyphicon-repeat"></span>
				</button>
			</span>
		</div>
		<div class="alert alert-info clearfix" ng-show="showRefresh()">
            <div class="pull-left">
                <h4>The Engine is healthy</h4>
            </div>
			<button class="btn btn-sm pull-right" ng-click="refreshProcessing()" ng-hide="repeatLoading">
				<span class="glyphicon glyphicon-refresh" />
			</button>
			<img src="/img/ajax-loader.gif" class="pull-right" ng-show="repeatLoading" />
		</div>
		<div class="list-group-item"
			ng-repeat="process in serverStats"
			>
			<%=process.process%>
			<div class="pull-right badge">
				<%=process.delta%>
			</div>
		</div>
	</div>
</div>