<div ng-controller="InstallationController">
	<h4>General Information</h4>
	<p><strong>Server IP:</strong> <%=dbase%></p>
	<p><strong>Engine Server:</strong> <%=engine%></p>
	
	<h4>Processing Health</h4>
	<div ng-class="parsing_health()">Parsing Stats: <%=parsingStats%></div>
	<div ng-class="alert_health()">Alert Stats: <%=parsingStats%></div>

	<h4>Alerts Health</h4>
	<div class="alert alert-info">Generated: <%=alertsGenerated%></div>
	<div ng-class="alert_sender_health()">Sent: <%=alertsGenerated%></div>
</div>