<section>
	<h3 class="header">Current Server: <%=%></h3>
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-md inline-button">Batida</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-md inline-button">Batida</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-md inline-button">Batida</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-md inline-button">Batida</button>
		</div>
	</div>
	<br />
</section>

<section>
	<div class="row">
		<div class="col-md-3">
			<div class="server-container">
				<i class="fa fa-database fa-lg">10.0.0.7</i>
			</div>
		</div>
	</div>
<section>