<section ng-show="selected">
	<div class="server-container">
		<i class="fa fa-database"></i>&nbsp;<%=selected.address%>
	</div>
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-md inline-button">Batida</button>
		</div>
	</div>
	<br />
</section>

<section>
	<div class="row" >
		<div
			class="col-md-12"
			cs-selectable="selected">
			<div class="server-container btn-essense" ng-click="select(current)" ng-repeat="current in servers">
				<i class="fa fa-database"></i>&nbsp;<%=current.address%>
			</div
>		</div>
	</div>
<section>