#login-form  {
	-webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.20s;
}

#search-box {
	-webkit-animation: bounceInRight 0.5s;
    animation: bounceInRight 0.10s;	
}

#recent-activity {
	-webkit-animation: bounceInLeft 0.5s;
    animation: bounceInLeft 0.10s;	
}

#search-results {
	position: absolute;
	width: 95%;
	z-index: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
}
