<div class="text-center">
	<i class="fa fa-cog fa-spin fa-3x" ng-show="isLoading"></i>
</div>
<div class="row">
	<div class="col-md-12">
		<div ng-show="somethingWrong">
			<i class="fa fa-warning fa-3x">
				Oops!
			</i>
			<h4>
				Something went wrong gathering engines health information.
			</h4>
			<h5>
				This is usually due to a network issue. Please, verify the state of your vpn connection before continuing.
			</h5>
			<span class="pull-right">
				<button class="btn btn-md" ng-click="requestStats()">
					Try Again!
				</button>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-danger clearfix" ng-show="refreshError">
			<span class="glyphicon glyphicon-remove-circle"></span>
			Something went wrong refresing the information. Please try again.
		</div>
	</div>
</div>
<section ng-show="serverStats">
	<h3 class="page-header">Engines</h3>
	<div class="row">
		<div class="col-md-2 col-md-offset-10" ng-click="refreshProcessing()">
			<button class="btn btn-sm">
				Refresh
			</button>
		</div>
	</div>
	<br />
	<div class="row">
	  	<div class="col-sm-4"
	  		ng-repeat="process in serverStats"
	  		>
	    	<div class="thumbnail text-center">
		        <i class="fa fa-cogs fa-3x"></i>
		        <div class="caption">
				    <h4><%=process.delta%></h4>
				    <%=process.process.replace('Engine.','')%>
			    </div>
		    </div>
		</div>
	</div>
</section>
