<!--
<div class="modal-body" ng-hide="requestingAuthentication">
	<div class="row">
		<div class="col-md-12">
			Username:
			<br />
			<input type="text" ng-model="$parent.username" placeholder="Username" class="form-control" />
			<br />
			Password:
			<br />
			<input type="password" ng-model="$parent.password" placeholder="Password" class="form-control" />
		</div>
	</div>
</div>
<div class="modal-footer" ng-hide="requestingAuthentication">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" ng-click="authenticate()">Login</button>
		</div>
	</div>
</div>
<div class="modal-body" ng-show="requestingAuthentication">
	<div class="row text-center">
		<div class="col-md-12">
			<i class="fa fa-cog fa-spin fa-3x"></i>
		</div>
	</div>
</div>
-->
<div class="modal-body" ng-hide="requestingAuthentication">
	<form>
		<div class="form-group">
			<label>Username</label>
			<input type="text" ng-model="$parent.username" placeholder="Username" class="form-control" />
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" ng-model="$parent.password" placeholder="Username" class="form-control" />
		</div>
		<button type="submit" ng-click="authenticate()" class="btn btn-primary">Login</button>
	</form>
</div>