<section ng-show="selected">
	<div class="server-container">
		<i class="fa fa-database"></i>&nbsp;<%=selected.address%>
	</div>
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-md inline-button" data-toggle="modal" data-target="#executeCommand" ng-click="executeTmpDB()">TempDB</button>
		</div>
	</div>
	<br />
</section>

<section>
	<div class="row" >
		<div
			class="col-md-12"
			cs-selectable="selected">
			<div class="server-container btn-essense" ng-click="select(current)" ng-repeat="current in servers">
				<i class="fa fa-database"></i>&nbsp;<%=current.address%>
			</div>
		</div>
	</div>
<section>

<div class="modal fade" id="executeCommand">
	<div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">
	        		<span aria-hidden="true">&times;</span>
	        		<span class="sr-only">Close</span>
	        	</button>
	        	<br/>
	      	</div>
	      	<div class="modal-body">
	      		<div class="row" ng-show="isLoadingStats">
	      			<div class="col-md-12 text-center">
	      				<div ng-show="isLoadingStats">
							<i class="fa fa-cog fa-spin fa-5x"></i>
						</div>
	      			</div>
	      		</div>
	      		<div class="row" ng-show="errOnStats">
	      			<div class="col-md-12 text-center">
	      				<div>
							<i class="fa fa-warning fa-3x">
								Oops!
							</i>
							<h4>
								There was an error requesting server stats.
							</h4>
							<button class="btn btn-md" ng-click="loadContextStats()">Try Again!</button>
						</div>
	      			</div>
	      		</div>
	      		<section ng-hide="isLoadingStats || errOnStats">
		      		<div class="row">
		      			<div class="col-md-4 col-md-offset-8">
		      				<button class="btn btn-md" ng-click="reloadContextStats()">Refresh Stats</button>
		      			</div>
		      		</div>
	      			<h3 class="page-header">Process Details</h3>
		      		<div class="row">
		      			<div class="col-md-8">
		      				<strong>Name:</strong>&nbsp;<%=process.EventInfo%><br/>
		      				<strong>ID:</strong>&nbsp;<span class="text-danger"><%=processId%></span>
		      			</div>
		      			<div class="col-md-4">
		      				<button class="btn btn-danger">Kill It With Fire!</button>
		      			</div>
		      		</div><!-- /.row -->
	      			<h3 class="header">Temporal Log Size Status</h3>
	      			<div class="row">
		      			<div class="col-md-12">
		      				<div class="table-responsive">
								<table class="table">
							    	<tr>
							    		<th>Created</th>
							    		<th>LogSize</th>
							    		<th>Status</th>
							    		<th>LogState</th>
							    	</tr>
							    	<tr ng-repeat="log in tempLogSizes">
							    		<td><%=log.Created%></td>
							    		<td><%=log.Logsize%></td>
							    		<td><%=log.Status%></td>
							    		<td><%=log.LogState%></td>
							    	<tr>
								</table>
							</div>
		      			</div><!-- /.col-md-12 -->
	      			</div><!-- /.row -->
	      		</section>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
	        	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
