<div class="text-center" ng-show="requestLoading">
	<div>
		<i class="fa fa-cog fa-spin fa-3x"></i>
	</div>
	<h5>Requesting Device Info...</h5>
</div>
<div ng-show="requestError && !requestLoading">
	<i class="fa fa-warning fa-5x">
		Oops!
	</i>
	<h4>
		Something went wrong retrieving the device info.
	</h4>
	<h5>
		Please, review your internet/vpn connections.
	</h5>
	<span class="pull-right">
		<button class="btn btn-md" ng-click="requestUnitInformation()">
			Try Again!
		</button>
	</span>
</div>
<div ng-show="isMultiple && !requestError">
	<div>
		<i class="fa fa-info-circle fa-2x">
			Multiple Units Have Used This IMEI
		</i>
	</div>
	<br />
	<div class="list-group">
		<a 
			class="list-group-item"
			ng-repeat="item in items"
			href="#/{{installation.name}}/{{item.imei}}/{{item.id}}"
			>
			<strong>{{item.name}}</strong> ({{item.id}})<br />
			Status: {{item.status}}
		</a>
	</div>
</div>
<div ng-hide="isMultiple || requestError || requestLoading">
	<section>
		<h3 class="header">Device Information</h3>
		<div class="row">
			<div class="col-md-12">
				{{item.name}}<br />
				{{item.id}}<br />
				{{item.status}}<br />
				{{item.imei}}<br />
			</div>
		</div>
	</section>
	<section>
		<h3 class="header">Hardware Profile</h3>
		<div class="row">
			<div class="col-md-12">
				{{item.hardware.name}}<br />
				{{item.hardware.id}}<br />
				{{item.hardware.parser}}<br />
				{{item.hardware.ports}}<br />
			</div>
		</div>
	</section>
	<section>
		<h3 class="header">Sensors</h3>
		<div class="row">
			<div class="col-md-12">
				Ignition: {{item.sensors.ignition}}<br />
				Battery: {{item.sensors.battery}}<br />
				Vibration: {{item.sensors.vibration}}<br />
				Reed: {{item.sensors.reed}}<br />
				Speed: {{item.sensors.speed}}<br />
				Fuel: {{item.sensors.fuel}}<br />
				Temperature One: {{item.sensors.temperature.one}}<br />
				Temperature Two: {{item.sensors.temperature.two}}<br />
			</div>
		</div>
	</section>
</div>